.landing-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../images/Shopping.jpg);
  height: 600px;
}

.container-home {
  margin: 0 auto;
  text-align: center;
  margin-top: 400px;
  background-color: #fff;
  width: 450px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.container-home > a {
  margin: 22px 2px 0;
}

/*---------- FOR LESS THAN 569PX WIDTH ----------*/

@media (max-width: 569px) {
  .landing-home {
    height: 300px;
    margin-bottom: 210px;
  }

  .container-home {
    margin-top: 300px;
  }

  .container-home {
    width: 250px;
    height: 160px;
  }

  .container-home a:nth-child(1) {
    margin-top: 25px;
  }

  .container-home a:nth-of-type(2) {
    margin-top: 5px;
  }
}
